        body {
            padding-top: 50px;
        }
        
        .navbar-custom {
            background-color: #262626;
        }
        
        .navbar-custom a {
            color: #fff;
            font-family: 'Open Sans Condensed', sans-serif;
            font-size: 20px;
        }
        
        .icon-bar {
            background-color: #999999;
        }
        /*about page*/
        
        .about-header {
            background-image: url(Templates/Pictures/DSC_0147-2.jpg);
            background-size: cover;
            background-position: bottom;
            background-repeat: no-repeat;
            height: 600px;
            text-align: center;
            color: whitesmoke;
            text-shadow: 3px 3px black;
        }
        
        .myphoto {
            text-align: center;
            margin-top: 40px;
        }
        
        .photo {
            height: 300px;
            width: auto;
            border: 1px solid black;
            border-radius: 30px
        }
        
        .social {
            height: 40px;
            width: 40px;
            margin-top: 140px;
        }
        
        .aboutscroll {
            font-size: 4em;
            margin-top: 30px;
            color: whitesmoke;
            text-shadow: 1px 1px black;
        }
        
        .header-h1 {
            position: relative;
            top: 30%;
            transform: translateY(-50%);
            font-family: 'Open Sans Condensed', sans-serif;
            font-size: 5em;
        }
        
        .header-h2 {
            position: relative;
            top: 22%;
            font-family: 'Open Sans Condensed', sans-serif;
            font-size: 2em;
        }
        
        .resume {
            font-family: 'Fjalla One', sans-serif;
            color: #5277A6;
            font-size: 30px;
            text-align: center;
            margin-top: 20px;
            margin-bottom: 40px;
            text-decoration: underline;
        }
        
        .about {
            margin-top: 50px;
            font-size: 20px;
            font-family: 'Open Sans Condensed', sans-serif;
        }
        
        img {
            height: 120px;
            width: auto;
        }
        
        .skills {
            font-family: 'Open Sans Condensed', sans-serif;
            font-size: 30px;
            margin-top: -20px;
        }
        
        .logo {
            margin-top: 5px;
            margin-bottom: 40px;
        }
        
        .logo img {
            height: 60px;
            width: auto;
        }
        /*projects page*/
        
        .panel-body {
            padding: 0px;
        }
        
        .panel-default {
            margin-top: 15px;
            height: 370px;
            background-color: #f5f5f5;
        }
        
        .project-description p {
            color: black;
        }
        
        .panel-title {
            font-size: 50px;
            font-family: 'Amatic SC', cursive;
            color: black;
        }
        
        .panel-heading {
            height: auto;
        }
        
        .panel-default>.panel-heading {
            color: #333;
            background-color: #000;
            opacity: .60;
        }
        
        .header-projects {
            position: relative;
            top: 35%;
            transform: translateY(-50%);
            font-family: 'Open Sans Condensed', sans-serif;
            font-size: 100px;
        }
        
        .project-header {
            background-image: url(Templates/Pictures/flower2.jpg);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            height: 325px;
            text-align: center;
            color: whitesmoke;
            opacity: 0.3%;
            text-shadow: 3px 3px black;
        }
        
        .project-header .projectscroll {
            font-size: 5em;
            margin-top: 50px;
            color: whitesmoke;
        }
        
        .image-responsive {
            margin-top: 30px;
            border: 1px solid black;
        }
        
        .project-title {
            font-family: 'Amatic SC', cursive;
            font-size: 30px;
            color: #fff;
            text-decoration: underline;
        }
        
        a:hover h2 {
            color: grey;
            background-color: transparent;
        }
        
        .project-description {
            margin-top: 5px;
            font-family: 'Amatic SC', cursive;
            font-size: 22px;
            color: black;
        }
        
        .click {
            margin-top: 10px;
            font-size: 15px;
        }
        /*education page*/
        
        .education-header {
            background-image: url(Templates/Pictures/flower2.jpg);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            height: 325px;
            text-align: center;
            color: whitesmoke;
            text-shadow: 3px 3px black;
        }
        
        .education {
            margin-top: 100px;
            border: 1px solid black;
        }
        
        .education-info {
            margin-top: 5px;
        }
        
        p {
            font-family: 'Open Sans Condensed', sans-serif;
            font-size: 20px;
        }
        
        .school-logo {
            width: 300px;
            height: auto;
            align-content: center;
            margin-top: 20px;
            margin-bottom: 30px;
        }
        
        .school {
            border-right: 1px solid black;
            margin-top: 30px;
        }
        
        .aw {
            margin-top: 5px;
        }
        
        .bs {
            margin-top: -15px;
        }
        /*contact page*/
        
        .contact-header {
            background-image: url(Templates/Pictures/flower2.jpg);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            height: 325px;
            text-align: center;
            color: whitesmoke;
            text-shadow: 3px 3px black;
        }
        
        .contact {
            font-family: 'Amatic SC', cursive;
            color: darkslateblue;
            font-size: 70px;
            margin-top: 40px;
            text-shadow: 1px 1px black;
        }
        
        .contact-div {
            margin-top: 40px;
            border-right: 1px solid black;
        }
        
        .contact-image {
            margin-top: 40px;
            height: 300px;
            width: auto;
            float: right;
        }
        
        .phone-num {
            font-family: 'Open Sans Condensed', sans-serif;
            color: dimgray;
            font-size: 35px;
            margin-left: 16px;
            margin-top: 10px;
        }
        
        .email {
            font-family: 'Open Sans Condensed', sans-serif;
            color: dimgray;
            font-size: 35px;
            margin-left: 5px;
        }
        
        .contact-social {
            margin-left: 15px;
            font-size: 40px;
            font-family: 'Amatic SC', cursive;
        }
        
        .contact-icon {
            height: 50px;
            width: 50px;
            margin-top: 10px;
            align-content: center;
        }