<div class="container-fluid">
    <div class="row">
        <div class='col-xs-12 about-header'>

            <h1 class='text-center header-h1'>SARAH TOWNSLEY</h1>
            <h2 class='text-center header-h2'>WEB DEVELOPER</h2>
            <div class="social-icons">
                <a href="https://github.com/sarahtownsley" title="GitHub" class="btn btn-round btn-clear btn-github" target="_blank"><i
                        class="fa fa-github"></i>
                        <image class="social" src="http://i.imgur.com/OCHWcon.png"></image>
                        </a>
                <a href="https://www.linkedin.com/in/sactownsley" title="Linkedin" class="btn btn-round btn-clear btn-linkedin" target="_blank"><i class="fa fa-linkedin-square"></i>
                    <image class="social" src="http://www.citi.com/ventures/images/logos/linkedin.png"></image>
                </a>

            </div>
            <div>
                 <a href="" ng-click="scrollToAboutSection()">
                    <i class="glyphicon glyphicon-menu-down aboutscroll"></i>
                </a>
            </div>
        </div>
    </div>


</div>

<div id="about-section" class="container myphoto">
    <div class="row">
        <div class="col-xs-12">
            <image class="photo" src="Templates/Pictures/DSC_0196_Fotor.jpg"></image>
        </div>
    </div>
</div>
<div id="about" class="container">
    <div class="row">
        <div class="col-lg-12">
            <p class="about">I am student at Coding Campus studying Angular Web Development. Having already completed my Bachelor of Science degree in Psychology and Human Development, I am currently attending Coding Campus in order to augment that in hopes of obtaining a position in UX/UI.
            </p>
            <a class="resume center-block" href="Templates/SarahTResume.pdf">RESUME</a>
            <h3 class="text-center skills">Skills</h3>
        </div>
    </div>
</div>
<div class="container">
    <div class="row text-center logo">
        <div class="col-xs-12">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRxULDnWAxO5IR7_neAALz7JQDVrXchRbTKjjcyC5LlJ9SKrDu8">
            <img src="http://www.potenzaglobalsolutions.com/images/blogImages/9077f0ad-b71e-454d-9e5b-2f3389547982.png">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/ea/Boostrap_logo.svg/2000px-Boostrap_logo.svg.png">
            <img src="https://git-scm.com/images/logos/downloads/Git-Icon-1788C.png">
        </div>
    </div>
</div>