<div class="container-fluid">
    <div class="row">
        <div class='col-xs-12 about-header'>

            <h1 class='text-center header-h1'>SARAH TOWNSLEY</h1>
            <h2 class='text-center header-h2'>FRONT END WEB DEVELOPER &amp; WEB DESIGNER</h2>
            <div class="social-icons">
                <a href="https://github.com/sarahtownsley" title="GitHub" class="btn btn-round btn-clear btn-github" target="_blank"><i
                        class="fa fa-github"></i>
                        <image class="social img-responsive" src="Templates/logos/white-github-logo.png"></image>
                        </a>
                <a href="https://www.linkedin.com/in/sactownsley" title="Linkedin" class="btn btn-round btn-clear btn-linkedin" target="_blank"><i class="fa fa-linkedin-square"></i>
                    <image class="social img-responsive" src="Templates/logos/white-linkedin-logo.png"></image>
                </a>
                <a href="https://www.facebook.com/sarahcolbytownsley" title="Facebook" class="btn btn-round btn-clear btn-facebook" target="_blank"><i class="fa fa-facebook"></i>
                    <image class="social img-responsive" src="Templates/logos/white-facebook-logo.png"></image>
                </a>
                <a href="https://www.instagram.com/sactowns/" title="Instagram" class="btn btn-round btn-clear btn-instagram" target="_blank"><i class="fa fa-instagram"></i>
                    <image class="social img-responsive" src="Templates/logos/white-instagram-logo.png"></image>
                </a>

            </div>
            <div>
                <a href="" ng-click="scrollToAboutSection()">
                    <i class="glyphicon glyphicon-menu-down img-responsive aboutscroll"></i>
                </a>
            </div>
        </div>
    </div>


    <div id="about-section" class="myphoto">
        <div class="row">
            <div class="col-xs-12">
                <image class="photo" src="Templates/Pictures/sarah-townsley.jpg"></image>
            </div>
        </div>
    </div>
    <div id="about">
        <div class="row">
            <div class="col-lg-12">
                <p class="about text-center">Are you a company with a solid product or service that is in need of a beautiful website or app that reflects your brand? If yes, then I might be your solution!
                    <br>
                    <br> I am a new grad of the V School who loves to design websites and apps. My interest in technology, design and individuals varying tastes influenced me to attend V School as well as study and graduate from the University of Utah with bs degree’s in both Psychology and Human Development.
                    <br>
                    <br> Examples of my work can be seen <a href="#/projects">here</a>.
                    <br>
                    <br> Given the opportunity, I can bring fresh designs to your company or can work to create a front end to your liking. You will find me to have a high degree of loyalty as well as strong work ethic and a drive to be the best that I can be.


                </p>
                <hr>
                <a class="resume center-block" href="Templates/SarahATownsleyResume.pdf" target="_blank">RESUME</a>
                <hr>
                <h3 class="text-center skills">SKILLS</h3>
            </div>
        </div>
    </div>

    <div class="row text-center logo">
        <div class="col-xs-12">
            <img class="img-responsive" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRxULDnWAxO5IR7_neAALz7JQDVrXchRbTKjjcyC5LlJ9SKrDu8">
            <img class="img-responsive" src="http://www.potenzaglobalsolutions.com/images/blogImages/9077f0ad-b71e-454d-9e5b-2f3389547982.png">
            <img class="img-responsive" src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/ea/Boostrap_logo.svg/2000px-Boostrap_logo.svg.png">
            <img class="img-responsive" src="https://git-scm.com/images/logos/downloads/Git-Icon-1788C.png">
            <img class="img-responsive" src="https://upload.wikimedia.org/wikipedia/commons/b/b0/Adobe_Photoshop_Lightroom_v2.0_icon.png">
        </div>
    </div>
</div>