<div class="container-fluid">

    <div class="row">
        <div class='col-xs-12 contact-header'>
            <h1 class='text-center header-h1'>CONTACT ME</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 text-center contact-div">
            <p class="phone-num">Call: (801) 792-4346</p>
            <address>
                    <p class="email">
                        Email: 
                        <a href="mailto:sactownsley@gmail.com">
                             sactownsley@gmail.com
                        </a>
                    </p>
                </address>
        </div>
        <div class="col-lg-6 text-center contact-div">
            <p class="contact-social text-center">I ALSO HANG OUT AT</p>
            <div class="contact-icons">
                <a href="https://github.com/sarahtownsley" title="GitHub" class="btn btn-round btn-clear btn-github" target="_blank"><i
                        class="fa fa-github"></i>
                                <image class="contact-icon" src="Templates/logos/black-github-logo.png"></image>
                            </a>
                <a href="https://www.linkedin.com/in/sactownsley" title="Linkedin" class="btn btn-round btn-clear btn-linkedin" target="_blank"><i class="fa fa-linkedin-square"></i>
                                <image class="contact-icon" src="Templates/logos/black-linkedin-logo.png"></image>
                            </a>
                <a href="https://www.facebook.com/sarahcolbytownsley" title="Facebook" class="btn btn-round btn-clear btn-facebook" target="_blank"><i class="fa fa-facebook"></i>
                                <image class="contact-icon" src="Templates/logos/black-facebook-logo.png"></image>
                            </a>
                <a href="https://www.instagram.com/sactowns/" title="Instagram" class="btn btn-round btn-clear btn-facebook" target="_blank"><i class="fa fa-instagram"></i>
                                <image class="contact-icon" src="Templates/logos/black-instagram-logo.png"></image>
                            </a>
            </div>
        </div>
    </div>