<div class="container-fluid">
    <div class="row">
        <div class='col-xs-12 education-header'>
            <h1 class='text-center header-h1-other'>EDUCATION</h1>
        </div>
    </div>
    <!--    <div class="container-fluid">-->
    <div class="row">
        <div class="col-lg-6 text-center school">
            <img class="vschool-logo img-responsive center-block" src="Templates/logos/v-school-logo.png">
            <h3 class="aw">Angular Web Development</h3>
            <p>January 2016 - April 2016</p>
        </div>
        <div class="col-lg-6 text-center school">
            <img class="utes-logo img-responsive center-block" src="Templates/logos/U-of-Utah-School-logo.png">
            <h3 class="bs">Bachelor of Science</h3> 
            <p>Double Major: Psychology &amp; Human Development</h3>
            <p>2003 - 2008, Dean's List</p>
        </div>
    </div>
</div>