<div class="container-fluid">
    <div class="row">
        <div class='col-xs-12 project-header'>
            <h1 class='text-center header-h1'>PROJECTS</h1>
            <a href="" ng-click="scrollToProjectSection()">
                <i class="glyphicon glyphicon-menu-down projectscroll"></i>
            </a>
        </div>
    </div>
    <div id="project-section">
        <div id="/projects">
            <div class="row">
                <div class="col-sm-12">
                    <p class="text-center click"><em>*Click title to see my code in github</em></p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="panel-title text-center">
                                <a href="https://github.com/sarahtownsley/AngularClassProjects/tree/master/exercises/favorite-organization" target="_blank">
                                    <h2 class="project-title text-center">Angular Routing</h2>
                                </a>
                            </div>
                        </div>
                        <div class="panel-body lead">
                            <a href="Templates/favorites-project.png" rel="lightbox" data-lightbox="projects">
                                <image class="image-responsive center-block" src="Templates/favorites-project.png"></image>
                            </a>
                            <p class="text-center click">*Click image to enlarge</p>
                            <p class="project-description text-center">Built a webpage from scratch using Angular routes and Bootstrap.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="panel-title text-center">
                                <a href="https://github.com/sarahtownsley/AngularClassProjects/tree/master/projects/sarah-townsley-photography" target="_blank">
                                    <h2 class="project-title text-center">Photography Site</h2>
                                </a>
                            </div>
                        </div>
                        <div class="panel-body lead">
                            <a href="Templates/st-photography.png" rel="lightbox" data-lightbox="projects">
                                <image class="image-responsive center-block" src="Templates/st-photography.png"></image>
                            </a>
                            <p class="text-center click">*Click image to enlarge</p>
                            <p class="project-description text-center">Built a photography website from scratch using Angular, JQuery, and Bootstrap.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="panel-title text-center">
                                <a href="https://github.com/sarahtownsley/AngularClassProjects/tree/master/exercises/to-do-list" target="_blank">
                                    <h2 class="project-title text-center">To-do List App</h2>
                                </a>
                            </div>
                        </div>
                        <div class="panel-body lead">
                            <a href="Templates/to-do.png" rel="lightbox" data-lightbox="projects">
                                <image class="image-responsive center-block" src="Templates/to-do.png"></image>
                            </a>
                            <p class="text-center click">*Click image to enlarge</p>
                            <p class="project-description text-center">Created a ToDo Website that talks to the server.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="panel-title text-center">
                                <a href="https://github.com/sarahtownsley/AngularClassProjects/tree/master/projects/bootstrap-profile" target="_blank">
                                    <h2 class="project-title text-center">Bootstrap Profile</h2>
                                </a>
                            </div>
                        </div>
                        <div class="panel-body lead">
                            <a href="Templates/bootstrap-profile.png" rel="lightbox" data-lightbox="projects">
                                <image class="image-responsive center-block" src="Templates/bootstrap-profile.png"></image>
                            </a>
                            <p class="text-center click">*Click image to enlarge</p>
                            <p class="project-description text-center">Re-created my Facebook profile from scratch using Bootstrap.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="panel-title text-center">
                                <a href="https://github.com/sarahtownsley/AngularClassProjects/tree/master/projects/angular-project" target="_blank">
                                    <h2 class="project-title text-center">Adopt A Pet App</h2>
                                </a>
                            </div>
                        </div>
                        <div class="panel-body lead">
                            <a href="Templates/angularproject.png" rel="lightbox" data-lightbox="projects">
                                <image class="image-responsive center-block" src="Templates/angularproject.png"></image>
                            </a>
                            <p class="text-center click">*Click image to enlarge</p>
                            <p class="project-description text-center"> Created an angular app using Angular JS &amp; Bootstrap that allows you to search for adoptable pets and learn more about adoption.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="panel-title text-center">
                                <a href="https://github.com/sarahtownsley/AngularClassProjects/tree/master/exercises/http-movie-search" target="_blank">
                                    <h2 class="project-title text-center">Http Movie Search</h2>
                                </a>
                            </div>
                        </div>
                        <div class="panel-body lead">
                            <a href="Templates/movie.png" rel="lightbox" data-lightbox="projects">
                                <image class="image-responsive center-block" src="Templates/movie.png"></image>
                            </a>
                            <p class="text-center click">*Click image to enlarge</p>
                            <p class="project-description text-center"> Built a movie search app using the Open Movie Database <a href="http://www.omdbapi.com" target="_blank">(www.omdbapi.com)</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="panel-title text-center">
                                <a href="https://github.com/sarahtownsley/AngularClassProjects/tree/master/projects/my-little-brony" target="_blank">
                                    <h2 class="project-title text-center">MY LITTLE BRONY</h2>
                                </a>
                            </div>
                        </div>
                        <div class="panel-body lead">
                            <a href="Templates/bronyville.png" rel="lightbox" data-lightbox="projects">
                                <image class="image-responsive center-block" src="Templates/bronyville.png"></image>
                            </a>
                            <p class="text-center click">*Click image to enlarge</p>
                            <p class="project-description text-center">Built and designed A My Little Pony fan site (for Bronies) using Angular.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="panel-title text-center">
                                <a href="https://github.com/sarahtownsley/AngularClassProjects/tree/master/exercises/namebadge" target="_blank">
                                    <h2 class="project-title text-center">Poke Profile</h2>
                                </a>
                            </div>
                        </div>
                        <div class="panel-body lead">
                            <a href="Templates/poke-profile.png" rel="lightbox" data-lightbox="projects">
                                <image class="image-responsive center-block" src="Templates/poke-profile.png"></image>
                            </a>
                            <p class="text-center click">*Click image to enlarge</p>
                            <p class="project-description text-center"> Created a Pokemon website using Bootstrap, Angular, $http, and a custom AngularJS Service</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="panel-title text-center">
                                <a href="https://github.com/sarahtownsley/AngularClassProjects/tree/master/exercises/namebadge" target="_blank">
                                    <h2 class="project-title text-center">Name Badge</h2>
                                </a>
                            </div>
                        </div>
                        <div class="panel-body lead">
                            <a href="Templates/name-badge.png" rel="lightbox" data-lightbox="projects">
                                <image class="image-responsive center-block" src="Templates/name-badge.png"></image>
                            </a>
                            <p class="text-center click">*Click image to enlarge</p>
                            <p class="project-description text-center"> Created a namebadge app from scratch using Angular JS and Bootstrap</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
